<header>
    <h1>Engenharia da Computação</h1>
    <p>Universidade Virtual do Estado de São Paulo - UNIVESP</p>
</header>

<input type="checkbox" id="menu-toggle" class="menu-toggle-check">

<nav>
    <label for="menu-toggle" class="menu-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul id="nav-menu">
        <li><a href="index.html">Início</a></li>
        <li><a href="pages/semestre1.html">1º Semestre</a></li>
        <li><a href="pages/semestre2.html">2º Semestre</a></li>
        <li><a href="pages/semestre3.html">3º Semestre</a></li>
        <li><a href="pages/semestre4.html">4º Semestre</a></li>
        <li><a href="pages/semestre5.html">5º Semestre</a></li>
        <li><a href="pages/semestre6.html">6º Semestre</a></li>
        <li><a href="pages/semestre7.html">7º Semestre</a></li>
        <li><a href="pages/semestre8.html">8º Semestre</a></li>
        <li><a href="pages/semestre9.html">9º Semestre</a></li>
        <li><a href="pages/semestre10.html">10º Semestre</a></li>
        <li><a href="pages/estagio.html">Estágio</a></li>
        <li><a href="pages/projetos.html">+Projetos</a></li>
        <li><a href="pages/curriculo.html">Currículo</a></li>
    </ul>
</nav>
